.box {
    display: flex;
    /* border:  2px solid black; */
    height: 90vh;

    background-color: #020117;
}

.txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border:  2px solid black; */
    width: 50vw;

}

.pics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border:  2px solid black; */
    width: 50vw;

}

.txt h1 {
    color: rgb(89, 255, 47);
    /* margin: 0; */

    /* border:  2px solid black; */

}

.txt p {
    color: grey;
    /* padding-left: 20px ; */
}

.txt span {
    color: grey;
    padding-left: 20px;
}

.txth1 {
    font-size: 100px;
    margin: 0;
    border-left: 7px solid greenyellow;
    border-radius: 7px;
    padding-left: 20px;
}

img {
    width: 100%;
    object-fit: contain;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    /* border: 3px solid linear-gradient(to right, darkblue, darkorchid) 1; */
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgb(23, 242, 125), rgb(235, 140, 31)) border-box;
    /* border-radius: 50em; */
    border: 4px solid transparent;
    border-right: none;
    position: relative;
    right: 0;
}